.modal-dialog(data-redirect=redirect)
  .modal-content
    .modal-title= title || "Success"
    .modal-body= body
    .modal-footer
      if links
        .btn-group
          each link in links
            a.btn(href=link.href)= link.text
