.modal-dialog
  .modal-content
    form(action=action method="delete" data-response="json" data-reaction=reaction||"redirect")
      .modal-title Are you sure?
      .modal-body.flex.center
        .flex.vert.pad.as
          each value,key in body
            input(type="hidden" name=key value=value)
          label.checkbox
            input(type="checkbox" name="confirm" value="true" required)
            span Yes I'm Sure
          label.checkbox
            input(type="checkbox" name="disable" value="true")
            span Don't warn me in the future
      .modal-footer
        .flex.center.pad
          button.btn Delete
