// @color-primary: #3d64d6;
@color-primary: #922f2f;
// @color-secondary: #91d2e7;
@color-secondary: #ffcc7c;
@color-ui: #eee;
@color-dark: #111;

@color-warning: #d33;
@color-info: #33d;
@color-success: #3d3;

@spotlight: radial-gradient(ellipse 200% 200% at 50% 0%, #ddd 0%, #333 100%);

@color-tooltip: fade(black,75%);

@font-stack: Lato, sans serif;

@transition: 0.25s;
