@import 'brand.less';
@import 'responsive.less';
@import 'components.less';
@import 'animations.less';

.filter(@rules) {
  -webkit-filter: @rules;
  filter: @rules;
}

.animation(@rules) {
  -webkit-animation: @rules;
  -moz-animation: @rules;
  -ms-animation: @rules;
  -o-animation: @rules;
  animation: @rules;
}

.placeholder(@rules) {
  &::-webkit-input-placeholder {
    @rules();
  }
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @rules();
  }
  &::-moz-placeholder { /* Firefox 19+ */
    @rules();
  }
  &:-ms-input-placeholder { /* IE 10+ */
    @rules();
  }
  &:-moz-placeholder { /* Firefox 18- */
    @rules();
  }
}
