.modal-dialog
  .modal-content
    if !entry
      .modal-title New Journal Entry
    .modal-body
      form(name='journal' action='/pc/'+character.id+'/journal' + (entry?'/'+entry.id:'') method='post')
        input.form-input(type='text' required name='title' value=entry?entry.title:false)
        textarea.form-input(type='text' name='body' height=300)= entry?entry.body:''
        button.btn.block(type='submit')= entry ? 'Update Entry' : 'Add Journal Entry'
