extends /templates/default

block header
  +header
    .header-item.page-title
      span Bestiary

block content
  .content-body
    +section()
      form.form-group(action="/r/bestiary/search" method="post")
	input.form-input(name="search")
