extends /templates/default

block title
  title= "About"
  
block header
  +header
    .header-item.page-title 
      span About
    
block content
  .content-body
    +section('A Better Way to organize homebrew adventures')
      p If your tabletop gaming group has ever ran a serious, long-term homebrew adventure, your GM may know how difficult it is to keep all the details for the campagin universe in order.
      p The idea for Homebre.ws came about during a protracted homebrew campaign. With a custom-made calendar, world map, nation-states, planar rules, dozens of NPCs and custom magical items and rules,
        | the need for a better tool to keep track of all the details of the world became paramount. Having an extensive collection of Excel sheets for tabulating data could only go so far.

    +section('A social network for you tabletop group')
      p Aside from keeping the details of a homebrew world organized, Homebre.ws boasts a suite of tools that make it easy for the players of a campaign keep track of their inventory, their character details, 
        | and take notes about the things they encounter in the world. Think of Homebre.ws as a social network for your campaign setting, and as an accompaniment for your tabletop adventures.
