extends /templates/default

block header
  +header({vignettes:1, color:error.status==404?"#333":"#933"})(class="fullscreen")
    .header-item.page-title= error.status + " — " + message
    pre.header-item= error.stack
  
