extends /templates/default
  
block header
  +header(class="fullscreen")
    .header-item.page-title 
      span
        +logo()
      span homebre.ws
    .header-item A tool to help manage homebrew tabletop adventures
