extends layout

block title
  title= "OmniCampaign"
  
block header
  +header(class="fullscreen")
    .header-item.page-title 
      span
        +logo()
      span Campaign Manager
    .header-item A tool for tabletop gaming groups
    
block content
