extends /templates/universal

block main
  #modals.modals
  block navigation
    include /components/navbar
    //- .overlay
      +characterCard(activeChar)
    block header
      +header(headerColor||null)(class="fullscreen")
        block applet
