//- default layout, for most site content
//- navigation: slot for navbar, populated by default navbar component
//- header: the banner at the top of the page, can be small or fullscreen
//- content: main content area
//- footer: footer content (currently unused)
extends /templates/universal

block main
  #modals.modals
  block navigation
    include /components/navbar
  //- content-wrapper encompasses header/content/footer
  #content-wrapper
    block header
      header#header
        if headerImage
          img(src=headerImage draggable="false")
    #content-main&attributes({class: THEME})
      .tab-group
        //- the main navigation areas
        //- these only update on full page reload, and may not even be necessary
        block navigation
      .tab-pane-group
        //- element that receives all XHR page content
        //- the content loaded can also have nested page tabs
        #main.tab-pane.active(href=href)
          block content
    block footer
