form(action=action method="post" data-response="json" data-reaction="redirect")
	.modal-content
		if comment
			.modal-title Edit Comment
		else
			.modal-title New Comment
		.modal-body
			.flex.fill
				textarea.form-input(name="body")= comment ? comment.body : ""
		.modal-footer
			.flex.center
				button.btn Add Comment
