form(action=action method="post" data-response="json" data-reaction="redirect")
	.modal-content
		.modal-title New Comment
		.modal-body
			.flex.fill
				textarea.form-input(name="body")
		.modal-footer
			.flex.center
				button.btn Add Comment
