.modal-content&attributes({class:THEME})
  .modal-title= item.name
  .modal-body
    each lore in item.lore
      if lore.hidden
        div ???
      else
        div= lore.content
    hr
    .flex.distribute
      .flex.vert
        each property,key in item.properties
          div=key
      .flex.vert
        each property,key in item.properties
          div=property

