.modal-content&attributes({class: THEME})
  if character.active
    .modal-title Take Items
  else
    .modal-title Give items to #{character.getName('first')}
  .modal-body
    .flex.vert
      include ../_itemTable
