.flex.vert.pad.lore-section
  - let subBase = base
  each lore in loreList
    -let base = subBase + '/' + lore.id
    include _lore

  .flex.center.pad
    button.btn(href=base + '/new' data-click="modal") Create Lore
