-listBase = base
.flex.vert.pad.lore-section
  if loreList && loreList.length > 0
    each lore in loreList
      -base = listBase + "/" + lore.id
      include ./_lore
  else
    label No Lore

if campaign.owned || permission.write
  .flex.center.pad
    a.btn(href=listBase+"/new" data-click="modal") Add Lore
