-listBase = base

//- .tab-group
  each array,key in subjects
    a.tab(data-click="tab" data-target="knowledge-"+key)= key
each array,key in subjects
  h3= key
  .flex.vert.pad.lore-section
    each lore in array
      -base = listBase + "/" + lore.id
      include _lore

