@import '../mixins/mixins.less';

::selection,::-webkit-selection {
	color: white;
	background-color: @color-primary;
}

input {
	border: none;
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;

}

button {
	border: none;
	background: #ddd;
	color: @color-dark;
	box-shadow: 0px 1px 1px fade(black,50%);
	padding: 0.5em;
	&:focus {

	}
}

input,button,select,textarea {
	&:focus {
		.filter(drop-shadow(0px 0px 2px @color-primary));
		outline: none;
	}
}
