@import '../mixins/mixins.less';

section {
	position: relative;
	z-index: 2;
	margin: auto;
	margin-bottom: 0.5rem;
	background-image: url('/images/textures/marble.jpg'), radial-gradient(ellipse 100% 200% at 50% 0, white 0%, #ccc 100%);
	background-size: 127px, 100%;
	background-position: 50% 50%;
	background-blend-mode: overlay;
	color: @color-dark;
	box-shadow: 0px 1px 5px fade(black,12.5%);
	border: 1px solid fade(black,25%);
	overflow: hidden;
}
