@import '../mixins/mixins.less';

::selection,::-webkit-selection {
	color: white;
	background-color: @color-primary;
}

html {
	height: 100%;
	max-width: 100vw;
  overflow-x: hidden;
}

body {
	height: 100%;
	font-family: @font-stack;
	background-color: @color-dark;
	color: @color-ui;
}

a {
	color: @color-primary;
	text-shadow: 0px 0px 1px fade(@color-primary,25%);
	transition: 0.5s;
	&:hover{
		color: lighten(@color-primary, 50%);
		text-shadow: 0px 0px 3px @color-primary;
	}
}

.logo {
	&.inline {
		display: inline-block;
		position:relative;
		vertical-align: text-bottom;
		margin: 0 0.2em;
		&:first-child {
			margin-left: 0;
		};
		img {
			opacity: 1;
			display: block;
			position: static;
			height: 1em;
			width: auto;
			.animation(none);
		}
	}
	img {
		position: absolute;
    max-width: 100%;
    max-height: 100%;
	}
	.text {
		opacity: 0;
		.filter(drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5)));
		.animation(fadeDown 2s ease-out 0.5s forwards);
		z-index: 2;
	}
	.cube {
		opacity: 0;
		.animation(fadeDown 2s ease-out forwards);
		z-index: 1;

	}
}

header#header {
	height: 400px;
	min-height: 400px;
	background: @color-dark;
	overflow: hidden;
	&.fullscreen {
		height: 100vh;
		max-height: 100vh;
		.header-content {
			justify-content: center;
		};
	};
	&.rainbow {
		.animation(rainbow 30s linear infinite);
	}
	.header-content {
		color: white;
		padding-bottom: 1rem;
		padding-top: @navbar-size;
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		.header-item {
			.darkbox();
			padding: 0.5rem 1rem;
			max-width: 100vw;
			& + .header-item {
				margin: 0.5rem 0;
			}
		}
		.page-title {
			font-weight: 300;
			text-align: center;
			font-size: 2em;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			.no-select();
		}
	}
	.vignettes {
		z-index: 1;
		overflow: hidden;
		width: 100%;
		height: 100%;
		position:relative;
		top: -100%;
		.vignette {
			width: 100%;
			height: 100%;
			background-repeat:no-repeat;
			background-color: inherit;
			background-size:cover;
			// background-position: center;
			background-blend-mode: luminosity;
			.animation(vignette 20s forwards);
		}
	}
	.tint(0.5);
}

#content-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	#content-main {
		position: relative;
		z-index: 2;
		box-shadow: 0px 0px 30px black;
		background-image: linear-gradient(to bottom, #333 0%, black 100%);
		background-attachment: fixed;
		flex: 1;
	}

	#footer {

	}
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-weight: 300;
	margin: 0;
}

p {
	margin: 0;
	& + p {
		margin-top: 1em;
	}
}

.content-body {

	.sm-plus({
		padding: 1em 0;
	});
}

.section {
	margin: auto;
	.darkbox();
	// border: 0px;
	// background-image: linear-gradient(135deg, fade(black,95%) 0%, fade(black,5%) 100%);

	.xs({
		width:100%;
	});
	.sm({
		width:720px;
	});
	// .sm-plus({
	// 	border-left: 2px solid transparent;
	// 	border-image: linear-gradient(to bottom, @color-ui 0%, fade(@color-ui,0%) 100%);
	// 	border-image-slice: 1;
	// 	border-image-outset: 5;
	// });
	.md-plus({
		width:1080px
	});

	& + .section {
		margin-top: 1em;
	}

	.section-title {
		padding:1rem;
		padding-bottom: 0;
		&>*{
			padding-bottom:1rem;
		}
		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 400px;
			transform: translateX(-60px);
			.xs({
				transform: translateX(-15px);
			});
			height: 2px;
			background-image: linear-gradient(to right, @color-ui 0%, fade(@color-ui,0) 100%);
		}
	}
	.section-body {
		padding: 1rem;
	}
}
