@import '../mixins/mixins.less';

.breadcrumbs {
  position:relative;
  .crumb {
    color: @color-primary;

    & + .crumb {
      &:before {
	content: '/';
	padding: 0 0.5rem;
	opacity: 0.25;
      }
    }

    a {
      opacity: 0.25;
      text-decoration: none;
      &:hover,&:focus {
	opacity: 1;
      }
    }
  }
}

nav.navigation {
  display: flex;
  position: fixed;
  background: #111;
  color: #eee;
  width: 100vw;
  z-index:3;
  .animation(dropdown 0.25s ease-out forwards);
  .filter(drop-shadow(0px 1px 2px fade(black,50%)));

  // clickable item in the nav
  .nav-item() {
    .cursor(pointer);
    background: inherit;
    display: block;
    padding: 0.5em;
    user-select: none;
    color: #eee;
    text-decoration: none;
    white-space: nowrap;
    height: 1rem;
    line-height: 1rem;
    padding: 0.5rem;
    box-sizing: content-box;

    &[disabled] {
      pointer-events:none;
      color: #666;
    }

    &:hover,&:active,&:focus {
      color: @color-primary;
    }
  }

  .dropdown {
    position: relative;
    list-style: none;
    margin: 0;
    z-index: 2;
    background:inherit;

    &:not(.active) {
      .dropdown-menu {
	opacity: 0;
	transform: translateY(-100%);
	.filter(blur(2px));
	//.animation(fadeto 0.25s forwards reverse);
	pointer-events: none;
      }
    }

    &.active {
      color: white;

      &>.dropdown-label {
	background: fade(black,25%);
      }
    }
  }

  .dropdown-label {
    .nav-item;
    background: inherit;
  }

  .dropdown-image {
    display: block;
    overflow: hidden;
    border-radius: 0.5em;
    width: 1em;
    height: 1em;
    float: left;
    margin-right: 0.5em;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .dropdown-menu {
    position: absolute;
    z-index: -1;
    background:inherit;
    min-width: 100%;
    opacity: 1;
    transition: 0.25s;
    // .animation(dropdown 0.25s forwards);
    // .animation(fadeto 0.25s forwards);


    .dropdown-menu {
      // position:static;
      left: 100%;
      top:0;
    }

  }

  .dropdown-separator {
    margin: 0.25em;
    border-bottom: 1px solid fade(white, 25%);
  }

  .navlink {
    .nav-item;
  }
}



