@import '../mixins/mixins.less';

#nav {
	color: @color-ui;
	// background-color: @color-dark;
	font-weight: 500;
	position: fixed;
	width: 100%;
	// box-shadow: 0 1px 2px fade(black, 25%);
	z-index: 1000;
	font-size: @navbar-size/3;
	// .filter(drop-shadow(0 1px 2px fade(black,25%)));
	// .animation(forge 2s ease-out);

	a,button {
		white-space: nowrap;
		cursor: pointer;
		background: none;
		outline: none !important;
		color: @color-ui;
		text-transform: uppercase;
		letter-spacing: 1px;
		line-height: 1em;
		text-decoration: none;
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		padding: ~"calc(1em - 2px)";
		transition: @transition;
		border: 2px solid;
		border-color: transparent;
		&:hover {
			color: inherit;
			border-bottom-color: inherit;
		}
	}

	ul.navlinks {
		margin-left: auto;
		margin-right: 0;
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		flex-direction: row;
		margin: 0;
		list-style: none;
		padding: 0;
		&>li {
			color: @color-primary;
			display: flex;
			align-items: stretch;
			flex-direction: column;
			justify-content: center;
			flex-basis: 100px;
			transition: @transition;
			& + li {
				// border-left: 1px solid @color-ui;
			}
			&.dropdown {
				color: @color-secondary;
				&.active {
					&>a,&>button {
						color: inherit;
						border-bottom-color: inherit;
					}
				}
			}

		}
	}
	.dropdown-menu {
		min-width:150px;
		display: block;
		position: absolute;
		// transform: translateY(-100%);
		overflow: hidden;
		height: 0;

		a,button {
			color: @color-dark;
			border-color: transparent;
			&:hover {
				color: inherit;
				border-bottom-color: inherit;
			}
		}

		&.active{
			height: auto;
			transition: 0.2s @bezier-bounce;
			&>ul{
				transform:translateY(-5px);
				box-shadow: 0px 1px 2px fade(black,25%);
				opacity: 1;
			}
		}
		&>ul {
			transition: 0.2s @bezier-bounce;
			padding-top: 1em;
			background-color: white;
			opacity: 0;
			transform:translateY(-100px);
			list-style: none;
			padding: 0;
			padding-top: 5px;
			max-height:50vh;
			overflow-y: auto;
			&>li {
				display: flex;
				flex-direction: column;
				&>*{
					flex: 1;
				}
				&.dropdown {
					color: @color-secondary;
					background: white;
					.dropdown-menu {
						padding-top: 0;
						z-index: 1;
						display: none;
						position: static;
						&.active{
							display: block;
						}
					}
				}
			}
		}

	}
}
