table {

    min-width: 100%;

    &.monospace {
	font-family: monospace;
    }

    // width: 100%;
    border-collapse: collapse;

    &.hover {
	tbody tr {
	    &:hover,&:focus {
		background: fade(@color-primary,25%);
	    }
	}
    }

    thead {
	tr {
	    border-bottom: 1px solid;
	}
    }

    tfoot {
	tr {
	    border-top: 1px solid;
	}
    }

    table td.shrink {
	white-space:nowrap
    }
    table td.expand {
	width: 99%
    }

    tbody{
	tr {
	    border-bottom: 1px solid;
	    border-color: inherit;
	}
    }

    tr {

    }

    th {
	padding: 0.5rem;

	&.asc {
	    background: linear-gradient(to top, fade(@color-primary, 50%) 0%, fade(@color-primary, 0%) 100%);
	}

	&.desc {
	    background: linear-gradient(to bottom, fade(@color-secondary, 50%) 0%, fade(@color-secondary, 0%) 100%);
	}
    }

    th,td {
	text-align: left;
	padding: 0.25rem;
	word-break: normal;
	overflow: hidden;

	&.top {
	    vertical-align: top;
	}
    }

    button:only-child {
	width: 100%;
	height: 100%;
	display: block;

    }

}

tr.orange,tr.primary {
    color: darken(@color-primary, 15%);
    background: fade(@color-primary, 12.5%);

    &.active {
	color: darken(@color-primary, 25%);
	background: fade(@color-primary, 50%);
    }
}

tr.blue,tr.secondary {
    color: darken(@color-secondary, 15%);
    background: fade(@color-secondary, 12.5%);

    &.active {
	color: darken(@color-secondary, 25%);
	background: fade(@color-secondary, 50%);
    }
}

tr.red {
    color: darken(@color-warning, 15%);
    background: fade(@color-warning, 12.5%);

    &.active {
	color: darken(@color-warning, 25%);
	background: fade(@color-warning, 50%);
    }
}

tr.green {
    color: darken(@color-success, 15%);
    background: fade(@color-success, 12.5%);

    &.active {
	color: darken(@color-success, 25%);
	background: fade(@color-success, 50%);
    }
}

tr.gray {
    color: #333;

    &.active {
	background: fade(#ccc, 50%);
    }
}

tr.disabled {
    .filter(saturate(0.5) brightness(0.5));
    //background: fade(black, 12.5%);
}

tr.active {
    box-shadow: 0px 1px 4px fade(black, 25%);
    outline: 1px solid;
    outline-offset: -1px;
    border-color: transparent;
}

table.fixed {
    table-layout:fixed; 
    // width: 100%;
}

col {
    width: 50%;
}

col.small {
    width: 10%;
}

col.large {
    width: 75%;
}
