@import '../mixins/mixins.less';

@ink-color: #986246;

#content-main {

  &.journal {
    background: url('/images/textures/leather.jpg'), radial-gradient(ellipse 100% 200% at 50% 100%, #da9 0%, #000 100%);
    background-blend-mode: multiply;
    perspective: 1000px;
    perspective-origin:bottom;

    section {
      background-image: url('/images/textures/journal.jpg'), radial-gradient(ellipse 100% 200% at 50% 100%, #eee 0%, #ddcC99 100%);
      background-position: 50% 0%;
      background-blend-mode: soft-light;
      border-color: #998a5c;
      border-radius: 3px;
      color: @ink-color;
      box-shadow: 0px -2px 5px fade(black,25%);
      // margin-bottom: ;

      &:hover,&:focus{
        // margin-bottom: ~"calc(0% + 20px)"
        // z-index:2;
      }

      a:not(.btn) {
        color: darken(@color-secondary,25%);
      }
      :not(.btn) {
        border-color:fade(#998a5c,50%);
      }
      .journal-markup {
        font-size: 18px;
        font-family: baskerville;
        p,blockquote {
          color: @ink-color;
        }
      }
    }
  }

  &.stone {
    background: url('/images/textures/brick.jpg'), radial-gradient(ellipse 100% 200% at 50% 100%, #ddd 0%, #000 100%);
    background-blend-mode: multiply;

    section {
      background-image: url('/images/textures/brick.jpg'), linear-gradient(to bottom, #fff 0%, #ccc 100%);
      background-blend-mode: multiply;
      color: @color-ui;

      border: 1px solid fade(#333,50%);
      border-top: 1px solid fade(#fff,25%);
      border-bottom: 1px solid fade(#000,25%);

      :not(.btn):not(hr) {
        border-color:fade(#000,50%);
      }

      hr {
        border-bottom: 1px solid fade(#fff,25%);
        border-top: 1px solid fade(#000,25%);
      }



      a:not(.btn) {
        color: darken(@color-secondary,25%);
      }
    }
  }

  &.wood {
    background: url('/images/textures/wood.jpg'), radial-gradient(ellipse 100% 200% at 50% 100%, #ddd 0%, #000 100%);
    background-blend-mode: multiply;

    section {
      background-image: url('/images/textures/marble.jpg'), linear-gradient(to bottom, #eee 0%, #bbb 100%);
      background-blend-mode: hard-light;
      border-radius: 3px;
      box-shadow: 0px 2px 5px fade(black,50%);

      :not(.btn):not(hr) {
        border-color:fade(#000,50%);
      }

      hr {
        border-bottom: 1px solid fade(#fff,25%);
        border-top: 1px solid fade(#000,25%);
      }

      a:not(.btn) {
        color: darken(@color-secondary,25%);
      }
    }
  }



}

// section {
//   position: relative;
//   z-index: 2;
//   margin: auto;
//   margin-bottom: 0.5rem;
//   background-image: url('/images/textures/marble.jpg'), radial-gradient(ellipse 100% 200% at 50% 0, white 0%, #ccc 100%);
//   background-size: 127px, 100%;
//   background-position: 50% 50%;
//   background-blend-mode: overlay;
//   color: @color-dark;
//   box-shadow: 0px 1px 5px fade(black,12.5%);
//   border: 1px solid fade(black,25%);
//   overflow: hidden;
// }
