mixin characterCard(character)
  if character
    .character-card-container(id="character-"+character.id data-characterId=character.id)
      .character-card
        .character-portrait
          if character.portrait
            img(src=character.portrait.src)
        .character-stats
          .name(href="/pc/"+character.id)= character.name
          if currentUser.id === character.UserId
            .btn-group
              a.btn(href="/pc/"+character.id) Character Sheet
              form(action="/pc/"+character.id+"/select" method="POST")
                button.btn(type="submit") Set As Main
              form(action="/pc/"+character.id method="delete" data-response="modal")
                button.btn(type="submit") Delete

mixin charOwned(character,bool)
  -var owned = currentUser && character && currentUser.id === character.UserId
  if (owned && bool) || (!owned && !bool)
    block
      
mixin charActive(character,bool)
  -var owned = currentUser && character && currentUser.MainCharId === character.id
  if (owned && bool) || (!owned && !bool)
    block
