include filters

mixin logo
  .logo
    img.text(src="/images/logo-text.svg")
    img.cube(src="/images/logo-d6.svg")


mixin vignettes(vignettes, color)
  .vignettes&attributes({"style":{"background-color": color}})
    each vignette in vignettes
      +vignette(vignette, color)

mixin vignette(path, color)
  if !color
    -var color = []
    -for(i=0;i<3;i++){color.push(Math.floor((Math.random()*127.5)+63.75))}
    .vignette&attributes({"style":{"background-image": "url(/images/vignettes/"+path+")", "background-color": "rgb("+color+")"}})
  else
    .vignette&attributes({"style":{"background-image": "url(/images/vignettes/"+path+")"}})
    
mixin header(color)
  header#header
    .header-content
      block
    -var subSet = []
    -for(i=0;i<1;i++){subSet.push(vignettes.shift(Math.floor(Math.random()*vignettes.length)))}
    +vignettes(subSet, color)
