mixin quest(quest)
  .flex.pad
    .flex.center.pad.no-size
      a.btn(href="/"+campaign.url+"quests/"+quest.id)= quest.name
    if quest.quests && quest.quests.length > 0
      .flex.pad.vert
        .flex.center
          each subquest in quest.quests
            +quest(subquest)
  //-
    .section-title
      a(href='quests/'+quest.id)= quest.name
    .section-body
      .journal-markup!= markdown(quest.description)
    .section-body
      if quest.subQuests.length > 0
        .flex.pad
          each subquest in quest.subQuests
            .flex.pad
              .flex.center: a(href=campaign.url+'/quests/'+subquest.id)= subquest.name
