extends /layout

block title
  title Quests
  
block header
  +header
    .header-item.page-title 
      span Quests

block content
  .content-body
    section
      .section-body
        .flex.pad
          if campaign.ownedBy(currentUser)
            .flex.vert.border.pad
              .flex.center: label GM Actions
              .flex.center.pad
                a.btn(href="quests/new" data-response="modal") New Quest
    section
      .section-body
        for quest in quests
          +quest(quest)
            
    
