extends /layout

block title
  title Quests
  
block header
  +header
    .header-item.page-title 
      span Quests

block content
  .content-body
    section
      .section-body
        .flex.pad
          if campaign.owned
            .flex.vert.border.pad
              .flex.center: label GM Actions
              .flex.center.pad
                a.btn(href="quests/new" data-response="modal") New Quest
    section
      .section-body
        if quests.length > 0
          .flex.vert.pad
            for quest in quests
              .flex.border
                +quest(quest)
        else
          .flex.center
            label No quests yet
    
