extends /templates/default

block header
  +header
    .header-item.page-title 
      span Quests

block content
  .content-body
    section
      if campaign.owned
        .tab-group
          a.tab.active All Quests
          a.tab(href="quests/new" data-click="modal" title="New Quest"): i.fa.fa-plus
      .section-body
        if quests.length > 0
          for quest in quests
            +quest(quest, true)
        else
          .flex.center
            label No quests yet
    
