extends /layout

block title
  title= campaign.name
  
block header
  +header
    .header-item.page-title 
      span= campaign.name

block content
  .content-body
    +section('Contents')
      .flex.center.pad
        a.btn(href="pc") Characters
        a.btn(href="quests") Quests
        a.btn(href="codex") Codex
    if campaign.owned
      section
        .section-body
          .flex.pad
            .flex.vert.border.pad
              .flex.center: label GM Actions
              .flex.center.pad
                a.btn(href='edit' data-response="modal") Edit
                form(method="delete" data-response="json")
                  button.btn Delete
                //- form(action=campaign.url, method="DELETE")
                  button.btn(type="submit") Delete
