extends /layout

block title
  title= campaign.name
  
block header
  +header
    .header-item.page-title 
      span= campaign.name

block content
  .content-body
    +section('Actions')
      .btn-group
        a.btn(href="/pc/create?campaign="+campaign.id) Create a character in this campaign
        if currentUser.id == campaign.Owner.id
          form(action="/c/"+campaign.id, method="DELETE")
            button.btn(type="submit") Delete This Campaign
