extends ../layout

block title
  title= "Campaigns"
  
//- block header
  +header
    .header-item.page-title 
      span Characters

block content
  .content-body
    for campaign in campaigns
      +section(campaign.name) 
        a(href='/c/'+campaign.url) See this Campaign
    a(href='/c/new' data-response='modal') Start a Campaign
    
