extends /layout

block title
  title #{character.getName('first')}'s Inventory
  
block header
  +header
    .header-item.page-title 
      span #{character.getName('first')}'s Inventory

block content
  .content-body
    section
      .tab-group
        a.tab.active(href="" data-click="tab" data-target="owned-items") Carried
        if itemOwner.isActiveChar(currentUser)
          a.tab(href="?nearby=true" data-click="tab" data-target="nearby-items") Nearby
        //- else
          a.tab(href="/"+currentUser.MainChar.url+"inventory?role=give" data-click="tab" data-target="give-items") Give
      .tab-panel
        .section-body.tab-pane.active#owned-items
          include ./_itemTable
        if itemOwner.isActiveChar(currentUser)
          .section-body.tab-pane#nearby-items
        //- else
          .section-body.tab-pane#give-items
