extends /templates/default

block title
  title #{character.getName('first')}'s Inventory
  
block header
  +header
    .header-item.page-title 
      span #{character.getName('first')}'s Inventory

block content
  .tab-group
    a.tab.active(data-click="tab" data-target="owned-items") #{itemOwner.getName('first')}'s Items
    a.tab(data-click="tab" data-target="owned-items-table") Table View
    if itemOwner.isActiveChar(currentUser)
      a.tab(href="?nearby=true" data-click="tab" data-target="nearby-items") Nearby
      a.tab(href="inventory/new" data-response="modal"): i.fa.fa-plus
    else if currentUser.MainChar
      a.tab(href="inventory/give" data-click="tab" data-target="give-items") #{currentUser.MainChar.getName('first')}'s Items
  .tab-panel
    #owned-items.tab-pane.active
      include ./_itemTiles
    #owned-items-table.tab-pane
      section
        .section-body
          include ./_itemTable
    if itemOwner.isActiveChar(currentUser)
      #nearby-items.tab-pane
    else
      #give-items.tab-pane
