.modal-dialog
  .modal-content
    .modal-title Log In
    .modal-body 
      form(name='login' action='/u/login' method='post')
        input(type='email' required name='email' placeholder="email")
        input(type='password' required name='password' placeholder="password" value="")
        button(type='submit') Log In
