.modal-dialog
  .modal-content
    .modal-title Sign Up
    .modal-body 
      form(name='signup' action='/signup' method='post')
        .form-group
          input.form-input(type='text' require name='username' placeholder='username')
          input.form-input(type='email' required name='email' placeholder='email')
          input.form-input(type='password' required name='password' placeholder='password' autocomplete='off')
          input.form-input(type='password' required name='confirm' placeholder='confirm' autocomplete='off')
        button.btn.block(type='submit') Sign Up
