extends ../layout

block title
  title= user.username
  
block header
  +header
    .header-item.page-title 
      span= user.username

block content
  .content-body
    +section(user.username) 
      p= user.username
      p= user.email
