include /mixins/mixins

.modal-content&attributes({class:THEME})
  if event.name
    .modal-title= event.name
  else
    .modal-title New Event
  .modal-body
    if !event.ownerId || event.owned
      form.flex.pad.vert.border(name='event' action=action method="post")
        .flex.vert
          label Event Name
          input.form-input(name="name" value=event.name required)
        .flex.pad.border
          +dateFields(event.time||event, campaign.Calendar, {hour: true, minute: true, miliseconds: true})
        .flex.center.pad
          if event.name
            button.btn(type="submit") Update Event
            button.btn(formmethod="delete") Delete Event
          else
            button.btn(type="submit") Add Event
