extends /templates/default

block header
  +header
    .header-item.page-title 
      span #{campaign.name} Calendar
    if navigation
      .header-item
        .flex.pad
          if navigation.previous
            a(href=navigation.previous.anchor)= navigation.previous.name || "<<"
          a(href=campaign.url + 'calendar') Present
          if navigation.next
            a(href=navigation.next.anchor)= navigation.next.name || ">>"

block content
  include ./_calendar
