.modal-dialog
  .modal-content
    form(name='connect' action="/"+character.url+'relationship' method='post' data-response="none")
      if !entry
        .modal-title Connect With #{character.getName('first')}
      .modal-body
        .flex.center.pad
          div
            label #{currentUser.MainChar.getName('first')}' Attitude
            input.form-input(type='number' min=-100 max=100 value=(currentUser.MainChar.Relationships[character.id] ? currentUser.MainChar.Relationships[character.id].quality : false) name="quality")
          div
            label #{character.getName('first')}'s Attitude
            input.form-input(type='number' min=-100 max=100 value=(character.Relationships[currentUser.MainChar.id] ? character.Relationships[currentUser.MainChar.id].quality : false) disabled)
      .modal-footer
          button.btn.block(type='submit') Update Relationship
