extends ../layout

block title
  title= character.name
  
block header
  +header
    .header-item.page-title 
      span= character.name

block content
  form.tab-group(action="/"+character.url+"select" method="post")
    a.tab.active Character Sheet
    if character.ownedBy(currentUser)
      a.tab(href="/"+character.url+"edit" data-response="modal" data-target="character-"+character.id+"-edit") Edit
      button.tab(disabled=character.isActiveChar(currentUser)) Select
  .content-body
    //- if character.active
    //- if !character.active
    section
      .tab-group
        a.tab.active(data-click="tab" data-target="about") About
        a.tab(href="/"+character.url+"inventory" data-click="tab" data-target="inventory") Inventory
        a.tab(href="/"+character.url+"lore" data-click="tab" data-target="lore") Lore
        a.tab(href="/"+character.url+"knowledge" data-click="tab" data-target="knowledge") Knowledge
        a.tab(href="/"+character.url+"journal" data-click="tab" data-target="lore") Journal
      .tab-panel
        #about.section-body.tab-pane.active
          .flex.vert
            .flex.pad.js.border
              each image in character.Images
                img(src=image.path)
            .flex.pad.center
              form(action='/'+character.url+'images' method="POST" enctype="multipart/form-data" data-response="json")
                input(type="file" name="image")
                button.btn Upload
        #inventory.tab-pane.section-body
        #lore.tab-pane.section-body
        #knowledge.tab-pane
        #journal.tab-pane.section-body
          
    if !character.isActiveChar(currentUser)
      section
        .section-body
          .flex.pad.distribute
            a.close(href="/"+character.url+"relationship/new" data-response="modal" data-target="character-"+character.id+"-relate") 
              i.fa.fa-users
            a.close(href="/"+character.url+"chat" data-response="modal" data-target="character-"+character.id+"-chat")
              i.fa.fa-comments
            a.close(href="/"+character.url+"inventory/give" data-response="modal" data-target="character-"+character.id+"-give")
              i.fa.fa-gift
