extends ../layout

block title
  title= character.name
  
block header
  +header
    .header-item.page-title 
      span= character.name

block content
  .content-body
    //- if character.active
    //- if !character.active
    section
      if currentUser
        .section-footer
          .flex.pad
            if character.ownedBy(currentUser)
              .flex.vert.border.pad
                .flex.center: label Owned Actions
                .flex.center.pad
                  form(action="select" method="post")
                    button.btn(disabled=character.isActiveChar(currentUser)) Select
                  a.btn(href="/"+character.url+"edit" data-response="modal") Edit
            if !character.isActiveChar(currentUser)
              .flex.vert.border.pad
                .flex.center: label Interactions
                .flex.center.pad
                  a.btn(href="relationship/new" data-response="modal") Relate
                  a.btn(href="chat" data-response="modal") Chat
                  a.btn(href="lore" data-response="modal") Lore
                  a.btn(href="inventory/give" data-response="modal") Give Items
    
