extends ../layout

block title
  title= character.name
  
block header
  +header
    .header-item.page-title 
      span= character.name

block content
  .content-body
    if character.active
    if !character.active
      section
        .section-footer
          .flex.pad.center
            a.btn(href='/pc/'+character.id+'/connect' data-response="modal") Relate to #{character.getName('first')}
      
