extends ../layout

block title
  title= character.name
  
block header
  +header
    .header-item.page-title 
      span= character.name

block content
  form.tab-group(action="/"+character.url+"select" method="post")
    a.tab.active Character Sheet
    if character.ownedBy(currentUser)
      a.tab(href="/"+character.url+"edit" data-response="modal" data-target="character-"+character.id+"-edit") Edit
      button.tab(disabled=character.isActiveChar(currentUser)) Select
  .content-body
    //- if character.active
    //- if !character.active
    section
      .tab-group
        if !character.isActiveChar(currentUser)
          a.tab(href="/"+character.url+"relationship/new" data-response="modal" data-target="character-"+character.id+"-relate") Relate
          a.tab(href="/"+character.url+"chat" data-response="modal" data-target="character-"+character.id+"-chat") Chat
          a.tab(href="/"+character.url+"lore" data-response="modal" data-target="character-"+character.id+"-lore") Lore
          a.tab(href="/"+character.url+"inventory/give" data-response="modal" data-target="character-"+character.id+"-give") Give Items
      .section-body
