extends /templates/default

block header
  +header
    .header-item.page-title
      if campaign
        span #{campaign.name} Characters
      else
        span Characters

block content
  include _index
