extends ../layout

block title
  title Characters
  
block header
  +header
    .header-item.page-title
      span Characters
    if campaign
      .header-item
        a(href="/c/"+campaign.url)= campaign.name

block content
  .content-body
    for character in characters
      section
        .section-title
          .float.left= character.name
          .float.right
            .timestamp= character.updatedAt.toLocaleString()
        if character.Campaign
          .section-body
            a(href="/c/"+character.Campaign.url)= character.Campaign.name
        .section-footer
          .flex.pad
            a.btn(href="/pc/"+character.id) Character Sheet
            +charOwned(character,true)
              +charActive(character,false)
                form(action="/pc/"+character.id+"/select" method="post")
                  button.btn Select
            +charActive(character,false)
              a.btn(href="/pc/"+character.id+"/relationship/new" data-response="modal") relate
