extends ../layout

block title
  title Create a Character
  
//- block header
  +header
    .header-item.page-title 
      span Create a Character

block content
  .content-body
    +section()
      form(method="post" action="/pc/create")
        .form-group.horz
          label.form-group-label Name
          input.form-input(name="first_name" placeholder="First Name" required)
          input.form-input(name="last_name" placeholder="Last Name" )
        .form-group
          label.form-group-label Race
          select.form-input(name="race" required)
            option(disabled selected) Select a Race
            each race in races
              option(value=race.name)= race.display_name + " ("+race.rp+")"
        //- label Class
        //- select(name="class" required)
          option(disabled selected) Select a Class
          each class in classes
            option(value=race.name)= race.display_name + " ("+race.rp+")"
        .form-group.horz.distribute
          label.form-group-label Sex
          label.radio
            input(type="radio" name="sex" value="male" required)
            span Male
          label.radio
            input(type="radio" name="sex" value="female" required)
            span Female
          label.radio
            input(type="radio" name="sex" value="n/a" required)
            span N/A
        button.btn.block(type="submit") Create Character
